
@font-face {
    font-family: kingBasil;
    src: url("King Basil Lite.otf");
}

body {
    font-family: 'Arvo', serif;
}

b {
    font-weight: 1200;
}

.h3 {
font-family: Lato;
}

.row {
  word-wrap: break-word;
}

#title {
  font-family: kingBasil;
  font-size: 7vw;
  padding-top: 60px;
}

#senior {
  font-family: Lato;
  font-size: 3vw;
  font-weight: 300;
  padding-top: 30px;
}

#date {
  font-family: Lato;
  font-weight: 300;
  font-size: 2vw;
}

.bg-1 {
	  background-color: #2f2f2f;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    color: #ffffff;
    height: auto;

}

.bg-2 {
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}

.bg-3 {
    background-color: #ffffff; /* White */
    color: #555555;
}

.bg-4 {
    background-color: #2f2f2f;
    color: #ffffff;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.container-fluid p {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

.container-fluid ul{
    text-align: left;
}

.container-fluid ol{
    text-align: left;
}

.navbar {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 14px;
    opacity: .7;
}

.navbar-nav li a:hover {
    color: black !important;
}

.container {
    position: relative;
}

.photos-heads img {
    width: 400px;
    height: 400px;
    display: block;
}

.photos-committee img {
    width: 300px;
    height: 300px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    color: red;
    opacity: 0;
    transition: .5s ease;
}

.container:hover .overlay {
  opacity: 1;
}

.container:hover img {
    opacity: .3;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.google-maps {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}
